fastapi==0.115.12
uvicorn[standard]==0.34.3
asyncpg==0.30.0
sqlglot==30.17.0
qdrant-client[async]==1.19.0
httpx==0.28.1
python-dotenv==1.1.0
PyJWT==2.10.1
pydantic==2.11.4
sqlalchemy==2.0.40
psycopg2-binary==2.9.10
psycopg[binary]==3.2.3
